/* style.css */
:root {
  --color-primary: #005a9c; /* Primary color - for primary buttons and links */
  --color-secondary: #f2f2f2; /* Secondary color - for backgrounds, etc. */
  --color-accent: #e3c800; /* Accent color - for highlighting items, calls to action */
  --color-text: #333333; /* Primary text color */
  --color-text-inverse: #ffffff; /* Inverse text color for use on dark backgrounds */
  --color-navbar-bg: #ffffff; /* Navbar background color */
  --color-navbar-link: #000000; /* Navbar link color */
  --color-navbar-link-hover: #005a9c; /* Navbar link hover color */
  --color-border: #e0e0e0; /* light grey color for borders */
  --font-primary: "Roboto", sans-serif;
  --font-secondary: "Montserrat", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%; /* Ensure the body takes full width */
  font-family: var(--font-primary);
  overflow-x: hidden;
}

/* Navbar Styles */
/* .navbar {
  display: flex;
  position: static;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: var(--color-navbar-bg);
  border-bottom: 1px solid var(--color-border); /* thin line */
/*box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); subtle shadow */
/* width: auto; */
/* font-family: var(--font-secondary);
} */

.navbar {
  display: flex;
  position: relative; /* This should be relative */
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: var(--color-navbar-bg);
  border-bottom: 1px solid var(--color-border);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: auto;
  font-family: var(--font-secondary);
  /* height: 50px; Example height, adjust as needed */
}

.navbar-logo {
  width: 70px; /* Adjust as needed */
}

.navbar-toggle {
  display: none;
  font-size: 24px;
  border: none;
  background: none;
}

.navbar-links {
  display: flex;
}

.navbar-links a,
.dropdown {
  text-decoration: none;
  color: var(--color-navbar-link);
  padding: 10px;
  margin: 0 5px;
  font-family: Arial, sans-serif;
  font-family: var(--font-secondary);
  vertical-align: middle;
  font-size: 16px; /* Adjust font size */
  font-weight: normal; /*  Adjust font weight */
}

.navbar-links a:hover {
  color: var(--color-navbar-link-hover);
  text-decoration: underline;
}

.mobile-drawer {
  display: none;
}

/* Style for Dropdown Menu */
.dropdown {
  position: relative;
  display: inline-block;
  padding-bottom: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--color-navbar-bg);
  /* background-color: #f9f9f9; */
  min-width: 160px;
  box-shadow: none;
  /* box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); */
  padding-top: 15px;
  z-index: 1;
  /* border: solid 5px green; */
  top: 100%;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  /* background-color: #f1f1f1; */
  color: teal;
  text-decoration: none;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* .dropdown:hover .dropbtn {
  background-color: #3e8e41;
} */

/* Hero Styles */
.hero .slider {
  position: relative;
  width: 100%;
  height: 500px; /* Adjust the height as needed */
  overflow: hidden;
}

.hero .slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.hero .slide.active {
  opacity: 1;
}

.hero .slide-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--color-text-inverse);
  text-align: center;
  width: 100%;
}

.hero .slide-overlay h2 {
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
  padding: 0.5em;
  background: rgba(0, 0, 0, 0.5);
  display: inline-block;
}

.hero .slide-overlay p {
  font-size: 1rem;
  margin: 0;
  padding: 0.5em;
  background: rgba(0, 0, 0, 0.5);
  display: inline-block;
}

/* Homepage Pages Section */
.feature-section {
  display: flex;
  justify-content: center; /* Center the children */
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 20px; /* Introduces space between columns */
  margin-top: 20px; /* Add some space from the top */
}

.feature-column {
  flex: 1;
  display: flex;
  flex-direction: row;
}

.feature-item {
  width: 80%;
  flex-basis: calc(100% - 10px);
  margin: 5px;
  color: #fff;
  text-align: center;
  position: relative;
  padding: 20px;
  box-sizing: border-box;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.feature-item a {
  text-decoration: none;
}

.lead-investigator-message {
  text-align: center;
}

.lead-investigator-message p {
  /* border: solid purple; */
  font-family: var(--font-secondary);
  text-align: justify;
  padding-left: 5%;
  padding-right: 5%;
}

.lead-investigator-message img {
  border-radius: 50%;
  width: 100px;
  margin-bottom: 10px;
}

.feature-item h3 {
  margin: 10px 0;
  font-family: var(--font-secondary);
  color: whitesmoke;
  font-weight: bold;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.feature-item:hover {
  transform: scale(1.05);
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2);
}

/* Container for the boxes */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

/* General styles for each box */
.box {
  width: 33%;
  height: inherit;
  margin: 10px;
  transition: transform 0.3s ease; /* Smooth transition for hover effects */
}

/* Hover effect */
.box:hover {
  transform: translateY(-5px); /* Slightly raise the box */
}

/* Styles for individual boxes */
.box1 {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center; /* Centers content horizontally */
  align-items: center; /* Centers content vertically */
  text-align: center;
}

.box2 {
  /* background-color: #659dbd; /* Soft sky blue  */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}

.box3 {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center; /* Centers content horizontally */
  align-items: center; /* Centers content vertically */
  text-align: center;
}

.box3 h2 {
  color: var(--color-primary);
  text-align: center;
  font-family: var(--font-primary);
  margin-bottom: 20px;
}

.news-feed {
  list-style-type: none; /* Remove default list styling */
  padding: 0; /* Remove default padding */
  margin: 0; /* Remove default margin */
}

.news-item {
  border-bottom: 1px solid var(--color-border); /* Add a border to each item */
  padding: 10px 0; /* Add some padding */
}

.news-item:last-child {
  border-bottom: none; /* Remove the border from the last item */
}

.news-item a {
  text-decoration: none; /* Remove link underlining */
  color: var(--color-text); /* Use the primary text color */
  display: block; /* Allow the entire area to be clickable */
}

.news-item h3 {
  font-size: 1.1rem; /* Adjust headline size */
  font-family: var(--font-secondary);
  margin-bottom: 5px; /* Add space below the headline */
}

.news-summary {
  font-size: 0.9rem; /* Smaller font size for the summary */
  color: var(--color-text);
}

/* Body */
.body {
  margin-left: 1vw;
  margin-right: 1vw;
  margin-bottom: 5vh;
}

.body_text {
  text-align: justify;
}

/* Footer */
footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  font-family: var(--font-primary);
}

.footer-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer-column {
  flex: 1;
  min-width: 180px;
  margin: 10px;
}

.footer-column h4 {
  margin-bottom: 15px;
}

.footer-column ul,
.footer-column address {
  list-style: none;
  padding: 0;
}

.footer-column a {
  text-decoration: none;
  color: #fff;
  line-height: 2;
}

.footer-bottom {
  text-align: center;
  padding: 10px 0;
  border-top: 1px solid #444; /* Slight border for visual separation */
}

.footer-bottom p {
  margin: 0;
}

/* Mobile and Tablet screens */
@media (max-width: 768px) {
  /* Navbar Styles */
  .navbar-toggle {
    display: inline-block;
  }

  .navbar-links {
    display: none;
  }

  .mobile-drawer {
    /* display: block; Always visible */
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; /* Full width of the viewport */
    height: 100%; /* Full height of the viewport */
    background-color: rgba(
      0,
      0,
      0,
      0.8
    ); /* Semi-transparent black for overlay effect */
    z-index: 2; /* Ensure it's above other content */
    justify-content: center; /* Horizontally center the content */
    padding-top: 90px;
  }

  .mobile-navbar-links {
    /* display: none; */
    display: flex; /* Enable flexbox for the links */
    flex-direction: column; /* Stack the links vertically */
    align-items: center; /* Center align the links */
    margin-top: 20px; /* Margin at the top */
    width: 100%; /* Full width within the drawer */
    text-align: center; /* Center the text */
  }

  .mobile-navbar-links a,
  .dropdown .dropbtn {
    padding: 10px; /* Padding for each link */
    margin-bottom: 5px; /* Spacing between links */
    color: white; /* Text color for the links */
    text-decoration: none; /* Remove underline from links */
    width: 100%; /* Full width for each link */
    display: block; /* Make each link a block element */
  }

  .dropdown .dropbtn::before {
    content: " ▼"; /* Add a down arrow to indicate dropdown */
    font-size: 12px; /* Smaller font size for the arrow */
  }

  .mobile-navbar-links a:hover {
    background-color: rgba(255, 255, 255, 0.2); /* Slight background on hover */
  }

  .close-btn {
    position: absolute; /* Position the button absolutely within the drawer */
    top: 10px; /* Position from the top */
    right: 10px; /* Position from the right */
    background: none; /* No background */
    border: none; /* No border */
    color: white; /* Button color */
    font-size: 24px; /* Size of the close icon */
    cursor: pointer; /* Pointer cursor on hover */
    z-index: 3; /* Ensure it's above the other content */
  }

  /* Pages */
  /* .feature-item {
    flex-basis: 100%; /* Each item takes full width on smaller screens 
  } */

  .container {
    flex-direction: column; /* Stack the boxes on top of each other */
  }

  .feature-item {
    width: 100%;
  }

  .box {
    width: 100%; /* Each box takes full width on smaller screens */
    margin: 0px 0; /* Adjust margin for vertical stacking */
    height: auto; /* Adjust height as content may vary */
  }

  /* Set the order of the boxes */
  .box1 {
    order: 2; /* box1 will be second */
  }

  .box2 {
    order: 1; /* box2 will be first */
    margin-bottom: 20px;
  }

  .box3 {
    order: 3; /* box3 will be third */
  }

  /* Adjustments for the feature items */
  .feature-item {
    flex-basis: 100%; /* Each item takes full width on smaller screens */
  }

  /* Footer Styles */
  .footer-container {
    flex-direction: column;
    align-items: center;
  }

  .footer-column {
    min-width: 100%;
    max-width: 100%;
    text-align: center;
  }

  .footer-bottom {
    font-size: 0.8em; /* Adjust font size for smaller screens */
  }
}
