/* style.css */
:root {
  --color-primary: #005a9c; /* Primary color - for primary buttons and links */
  --color-secondary: #f2f2f2; /* Secondary color - for backgrounds, etc. */
  --color-accent: #e3c800; /* Accent color - for highlighting items, calls to action */
  --color-text: #333333; /* Primary text color */
  --color-text-inverse: #ffffff; /* Inverse text color for use on dark backgrounds */
  --color-navbar-bg: #ffffff; /* Navbar background color */
  --color-navbar-link: #000000; /* Navbar link color */
  --color-navbar-link-hover: #005a9c; /* Navbar link hover color */
  --color-border: #e0e0e0; /* light grey color for borders */
  --font-primary: "Roboto", sans-serif;
  --font-secondary: "Montserrat", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%; /* Ensure the body takes full width */
  font-family: var(--font-primary);
  overflow-x: hidden;
}

/* Navbar Styles */
.navbar {
  display: flex;
  position: static;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: var(--color-navbar-bg);
  border-bottom: 1px solid var(--color-border); /* thin line */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /*subtle shadow */
  width: auto;
  font-family: var(--font-secondary);
}

.navbar-logo {
  width: 70px; /* Adjust as needed */
}

.navbar-toggle {
  display: none;
  font-size: 24px;
  border: none;
  background: none;
}

.navbar-links {
  display: flex;
}

.navbar-links a {
  text-decoration: none;
  color: var(--color-navbar-link);
  padding: 10px;
  margin: 0 5px;
  font-family: Arial, sans-serif;
  font-family: var(--font-secondary);
}

.navbar-links a:hover {
  color: var(--color-navbar-link-hover);
  text-decoration: underline;
}

/* Hero Styles */
.hero .slider {
  position: relative;
  width: 100%;
  height: 500px; /* Adjust the height as needed */
  overflow: hidden;
}

.hero .slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.hero .slide.active {
  opacity: 1;
}

.hero .slide-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--color-text-inverse);
  text-align: center;
  width: 100%;
}

.hero .slide-overlay h2 {
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
  padding: 0.5em;
  background: rgba(0, 0, 0, 0.5);
  display: inline-block;
}

.hero .slide-overlay p {
  font-size: 1rem;
  margin: 0;
  padding: 0.5em;
  background: rgba(0, 0, 0, 0.5);
  display: inline-block;
}

/* Homepage Pages Section */
.feature-section {
  display: flex;
  justify-content: center; /* Center the children */
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 20px; /* Introduces space between columns */
  margin-top: 20px; /* Add some space from the top */
  border: solid red;
}

.feature-column {
  flex: 1;
  display: flex;
  flex-direction: row;
}

.feature-item {
  width: 80%;
  flex-basis: calc(100% - 10px);
  margin: 5px;
  color: #fff;
  text-align: center;
  position: relative;
  padding: 20px;
  box-sizing: border-box;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.feature-item a {
  text-decoration: none;
}

.lead-investigator-message {
  text-align: center;
}

.lead-investigator-message p {
  /* border: solid purple; */
  font-family: var(--font-secondary);
  text-align: justify;
  padding-left: 5%;
  padding-right: 5%;
}

.lead-investigator-message img {
  border-radius: 50%;
  width: 100px;
  margin-bottom: 10px;
}

.feature-item h3 {
  margin: 10px 0;
  font-family: var(--font-secondary);
  color: whitesmoke;
  font-weight: bold;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.feature-item:hover {
  transform: scale(1.05);
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2);
}

/* Container for the boxes */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

/* General styles for each box */
.box {
  width: 33%;
  height: inherit;
  margin: 10px;
  transition: transform 0.3s ease; /* Smooth transition for hover effects */
}

/* Hover effect */
.box:hover {
  transform: translateY(-5px); /* Slightly raise the box */
}

/* Styles for individual boxes */
.box1 {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center; /* Centers content horizontally */
  align-items: center; /* Centers content vertically */
  text-align: center;
}

.box2 {
  /* background-color: #659dbd; /* Soft sky blue  */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}

.box3 {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center; /* Centers content horizontally */
  align-items: center; /* Centers content vertically */
  text-align: center;
}

/* Footer */
footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  font-family: var(--font-primary);
}

.footer-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer-column {
  flex: 1;
  min-width: 180px;
  margin: 10px;
}

.footer-column h4 {
  margin-bottom: 15px;
}

.footer-column ul,
.footer-column address {
  list-style: none;
  padding: 0;
}

.footer-column a {
  text-decoration: none;
  color: #fff;
  line-height: 2;
}

.footer-bottom {
  text-align: center;
  padding: 10px 0;
  border-top: 1px solid #444; /* Slight border for visual separation */
}

.footer-bottom p {
  margin: 0;
}

/* Mobile and Tablet screens */
@media (max-width: 768px) {
  /* Navbar Styles */
  .navbar-toggle {
    display: inline-block;
  }

  .navbar-links {
    display: none;
  }

  /* Pages */
  /* .feature-item {
    flex-basis: 100%; /* Each item takes full width on smaller screens 
  } */

  .container {
    flex-direction: column; /* Stack the boxes on top of each other */
  }

  .feature-item {
    width: 100%;
  }


  .box {
    width: 100%; /* Each box takes full width on smaller screens */
    /* margin: 10px 0; Adjust margin for vertical stacking */
    height: auto; /* Adjust height as content may vary */
  }

  /* Set the order of the boxes */
  .box1 {
    order: 2; /* box1 will be second */
  }

  .box2 {
    order: 1; /* box2 will be first */
    padding-bottom: 10px;
  }

  .box3 {
    order: 3; /* box3 will be third */
  }

  /* Adjustments for the feature items */
  .feature-item {
    flex-basis: 100%; /* Each item takes full width on smaller screens */
  }


  /* Footer Styles */
  .footer-container {
    flex-direction: column;
    align-items: center;
  }

  .footer-column {
    min-width: 100%;
    max-width: 100%;
    text-align: center;
  }

  .footer-bottom {
    font-size: 0.8em; /* Adjust font size for smaller screens */
  }
}
